<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CData.Access" version="19.0.7285" targetFramework="net471" />
  <package id="CData.Excel" version="19.0.7285" targetFramework="net471" />
  <package id="CData.SharePoint" version="19.0.7285" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="SharpCloud.ClientAPI" version="1.8.1" targetFramework="net471" />
</packages>