<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="userid" value="USERID" />
    <!-- Simple password - leave blank to use the passwordDP -->
    <add key="password" value="PASSWORD" />
    <!-- DPAPI Encrypted password - at least one password field must be completed -->
    <add key="passwordDpapi" value="PASSWORD_DPAPI" />
    <add key="url" value="https://my.sharpcloud.com" />
    <add key="storyid" value="00000000-0000-0000-0000-000000000000" />
    <add key="dbType" value="SQL" />
    <add key="connectionString" value="CONNECTIONSTRING" />
    <add key="queryString" value="QUERYSTRING" />
    <add key="queryStringRels" value="QUERYRELSSTRING" />
    <!-- Add a path to log file if required - leave blank for no logging-->
    <add key="LogFile" value="LOGFILE" />
    <add key="unpublishItems" value="UNPUBLISHITEMS" />
    <add key="proxy" value="PROXYADDRESS" />
    <add key="proxyAnonymous" value="PROXYANONYMOUS" />
    <add key="proxyUsername" value="PROXYUSERNAME" />
    <add key="proxyPassword" value="PROXYPWORD" />
    <add key="proxyPasswordDpapi" value="PROXYPWORD_DPAPI" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
